{"openapi":"3.0.1","info":{"title":"Spinnaker API","description":"","contact":{"name":""}},"externalDocs":{"description":"Spinnaker Documentation","url":"https://spinnaker.io"},"servers":[{"url":"https://onlyspingate.qaspin.opsmx.org","description":"Generated server url"}],"paths":{"/plugins/info":{"get":{"tags":["plugin-info-controller"],"summary":"Get all plugin info objects","operationId":"getAllPluginInfo","parameters":[{"name":"service","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}},"put":{"tags":["plugin-info-controller"],"summary":"Persist plugin metadata information","operationId":"persistPluginInfo_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpinnakerPluginInfo"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["plugin-info-controller"],"summary":"Persist plugin metadata information","operationId":"persistPluginInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpinnakerPluginInfo"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/proxies/{proxy}/**":{"get":{"tags":["proxy-controller"],"operationId":"any","parameters":[{"name":"proxy","in":"path","required":true,"schema":{"type":"string"}},{"name":"requestParams","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"put":{"tags":["proxy-controller"],"operationId":"any_2","parameters":[{"name":"proxy","in":"path","required":true,"schema":{"type":"string"}},{"name":"requestParams","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"post":{"tags":["proxy-controller"],"operationId":"any_1","parameters":[{"name":"proxy","in":"path","required":true,"schema":{"type":"string"}},{"name":"requestParams","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}},"delete":{"tags":["proxy-controller"],"operationId":"any_3","parameters":[{"name":"proxy","in":"path","required":true,"schema":{"type":"string"}},{"name":"requestParams","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/tasks/{id}/cancel":{"put":{"tags":["task-controller"],"summary":"Cancel task","operationId":"cancelTask","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/tasks/cancel":{"put":{"tags":["task-controller"],"summary":"Cancel tasks","operationId":"cancelTasks","parameters":[{"name":"ids","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/strategies/{id}":{"put":{"tags":["strategy-controller"],"operationId":"updateStrategy","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/pipelines/{id}":{"get":{"tags":["pipeline-controller"],"summary":"Retrieve a pipeline execution","operationId":"getPipeline","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"put":{"tags":["pipeline-controller"],"summary":"Update a pipeline definition","operationId":"updatePipeline","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"delete":{"tags":["pipeline-controller"],"summary":"Delete a pipeline execution","operationId":"deletePipeline","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/pipelines/{id}/stages/{stageId}/restart":{"put":{"tags":["pipeline-controller"],"summary":"Restart a stage execution","operationId":"restartStage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"stageId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/pipelines/{id}/resume":{"put":{"tags":["pipeline-controller"],"summary":"Resume a pipeline execution","operationId":"resumePipeline","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/pipelines/{id}/pause":{"put":{"tags":["pipeline-controller"],"summary":"Pause a pipeline execution","operationId":"pausePipeline","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/pipelines/{id}/cancel":{"put":{"tags":["pipeline-controller"],"summary":"Cancel a pipeline execution","operationId":"cancelPipeline","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"reason","in":"query","required":false,"schema":{"type":"string"}},{"name":"force","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK"}}}},"/credentials":{"get":{"tags":["credentials-controller"],"summary":"Retrieve a list of accounts","operationId":"getAccounts_1","parameters":[{"name":"expand","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}}},"put":{"tags":["credentials-controller"],"summary":"Updates an existing account definition.","operationId":"updateAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDefinition"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountDefinition"}}}}}},"post":{"tags":["credentials-controller"],"summary":"Creates a new account definition.","operationId":"createAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDefinition"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountDefinition"}}}}}}},"/artifacts/fetch":{"put":{"tags":["artifact-controller"],"summary":"Fetch the contents of an artifact","operationId":"fetch","parameters":[{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StreamingResponseBody"}}}}}}},"/applications/{application}/tasks/{id}/cancel":{"put":{"tags":["application-controller"],"summary":"Cancel task","operationId":"cancelTask_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"deprecated":true}},"/applications/{application}/pipelines/{id}/cancel":{"put":{"tags":["application-controller"],"summary":"Cancel pipeline","operationId":"cancelPipeline_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"reason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"deprecated":true}},"/webhooks/{type}/{source}":{"post":{"tags":["webhook-controller"],"summary":"Endpoint for posting webhooks to Spinnaker's webhook service","operationId":"webhooks","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"source","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-Hub-Signature","in":"header","required":false,"schema":{"type":"string"}},{"name":"X-Event-Key","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/webhooks/cdevents/{source}":{"post":{"tags":["webhook-controller"],"summary":"Endpoint for posting webhooks to Spinnaker's CDEvents webhook service","operationId":"webhooks_1","parameters":[{"name":"source","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudEvent"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/v2/pipelineTemplates/update/{id}":{"post":{"tags":["v-2-pipeline-templates-controller"],"summary":"(ALPHA) Update a pipeline template.","operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","required":false,"schema":{"type":"string"}},{"name":"skipPlanDependents","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/v2/pipelineTemplates/plan":{"post":{"tags":["v-2-pipeline-templates-controller"],"summary":"(ALPHA) Plan a pipeline template configuration.","operationId":"plan","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/v2/pipelineTemplates/create":{"post":{"tags":["v-2-pipeline-templates-controller"],"summary":"(ALPHA) Create a pipeline template.","operationId":"create","parameters":[{"name":"tag","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/tasks":{"post":{"tags":["task-controller"],"summary":"Create task","operationId":"task","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/tags":{"get":{"tags":["entity-tags-controller"],"operationId":"list_1","parameters":[{"name":"allParameters","in":"query","description":"Any parameters to filter by, passed as individual parameters. Options are: \n  cloudProvider, application, entityType, entityId, idPrefix, account, region, namespace, maxResults","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["entity-tags-controller"],"operationId":"post","parameters":[{"name":"entityId","in":"query","required":true,"schema":{"type":"string"}},{"name":"entityType","in":"query","required":true,"schema":{"type":"string"}},{"name":"account","in":"query","required":true,"schema":{"type":"string"}},{"name":"region","in":"query","required":true,"schema":{"type":"string"}},{"name":"cloudProvider","in":"query","required":true,"schema":{"type":"string"}},{"name":"application","in":"query","required":false,"schema":{"type":"string"}},{"name":"isPartial","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/strategies":{"post":{"tags":["strategy-controller"],"operationId":"saveStrategy","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/strategies/move":{"post":{"tags":["strategy-controller"],"operationId":"renameStrategy","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/plugins/publish/{pluginId}/{pluginVersion}":{"post":{"tags":["plugin-publish-controller"],"summary":"Publish a plugin binary and the plugin info metadata.","operationId":"publishPlugin","parameters":[{"name":"pluginId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pluginVersion","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["plugin","pluginInfo"],"type":"object","properties":{"plugin":{"type":"string","format":"binary"},"pluginInfo":{"$ref":"#/components/schemas/SpinnakerPluginInfo"}}}}}},"responses":{"200":{"description":"OK"}}}},"/pipelines":{"post":{"tags":["pipeline-controller"],"summary":"Save a pipeline definition","operationId":"savePipeline","parameters":[{"name":"staleCheck","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/pipelines/{id}/evaluateVariables":{"post":{"tags":["pipeline-controller"],"summary":"Evaluate variables same as Evaluate Variables stage using the provided execution as context","operationId":"evaluateVariables","parameters":[{"name":"executionId","in":"query","description":"Execution id to run against","required":true,"schema":{"type":"string"}},{"name":"requisiteStageRefIds","in":"query","description":"Comma separated list of requisite stage IDs for the evaluation stage","required":false,"schema":{"type":"string","default":""}},{"name":"spelVersion","in":"query","description":"Version of SpEL evaluation logic to use (v3 or v4)","required":false,"schema":{"type":"string","default":""}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"List of variables/expressions to evaluate","items":{"type":"object","additionalProperties":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/pipelines/{id}/evaluateExpression":{"get":{"tags":["pipeline-controller"],"summary":"Evaluate a pipeline expression using the provided execution as context","operationId":"evaluateExpressionForExecution","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"expression","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["pipeline-controller"],"summary":"Evaluate a pipeline expression using the provided execution as context","operationId":"evaluateExpressionForExecutionViaPOST_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"text/plain":{"schema":{"type":"string"}},"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/pipelines/{application}/{pipelineNameOrId}":{"post":{"tags":["pipeline-controller"],"summary":"Trigger a pipeline execution","operationId":"invokePipelineConfig","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"pipelineNameOrId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/pipelines/v2/{application}/{pipelineNameOrId}":{"post":{"tags":["pipeline-controller"],"summary":"Trigger a pipeline execution","operationId":"invokePipelineConfigViaEcho","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"pipelineNameOrId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/pipelines/start":{"post":{"tags":["pipeline-controller"],"summary":"Initiate a pipeline execution","operationId":"start","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/pipelines/move":{"post":{"tags":["pipeline-controller"],"summary":"Rename a pipeline definition","operationId":"renamePipeline","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/pipelines/bulksave":{"post":{"tags":["pipeline-controller"],"summary":"Save a list of pipelines","operationId":"bulksavePipeline","parameters":[{"name":"application","in":"query","description":"Application in which to run the bulk save task","required":false,"schema":{"type":"string","default":"bulk_save_placeholder_app"},"example":"bulk_save_placeholder_app"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/pipelineTemplates":{"get":{"tags":["pipeline-templates-controller"],"summary":"List pipeline templates.","operationId":"list_3","parameters":[{"name":"scopes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"post":{"tags":["pipeline-templates-controller"],"summary":"Create a pipeline template.","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/pipelineTemplates/{id}":{"get":{"tags":["pipeline-templates-controller"],"summary":"Get a pipeline template.","operationId":"get_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["pipeline-templates-controller"],"summary":"Update a pipeline template.","operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"skipPlanDependents","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"delete":{"tags":["pipeline-templates-controller"],"summary":"Delete a pipeline template.","operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"application","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/notifications/{type}/{application}":{"get":{"tags":["notification-controller"],"operationId":"getNotificationConfig","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"application","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["notification-controller"],"operationId":"saveNotificationConfig","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"application","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["notification-controller"],"operationId":"deletePipeline_2","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"application","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/notifications/callbacks/{source}":{"post":{"tags":["notification-controller"],"operationId":"processNotificationCallback","parameters":[{"name":"source","in":"path","required":true,"schema":{"type":"string"}},{"name":"request","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/concourse/stage/start":{"post":{"tags":["concourse-controller"],"summary":"Inform Spinnaker of the Concourse build running connected to a particular Concourse stage execution","operationId":"stageExecution","parameters":[{"name":"stageId","in":"query","required":true,"schema":{"type":"string"}},{"name":"job","in":"query","required":true,"schema":{"type":"string"}},{"name":"buildNumber","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/batch/tags":{"post":{"tags":["batch-entity-tags-controller"],"summary":"Batch update a set of entity tags.","operationId":"batchUpdate","parameters":[{"name":"application","in":"query","required":false,"schema":{"type":"string","default":"adhoc"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/auth/roles/sync":{"post":{"tags":["auth-controller"],"summary":"Sync user roles","operationId":"sync","responses":{"200":{"description":"OK"}}}},"/auth/deleteSessionCache":{"post":{"tags":["auth-controller"],"summary":"Delete session cache","operationId":"deleteSessionCache","responses":{"200":{"description":"OK"}}}},"/applications/{application}/tasks":{"get":{"tags":["application-controller"],"summary":"Retrieve a list of an application's tasks","operationId":"getTasks","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"statuses","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}},"post":{"tags":["application-controller"],"summary":"Create task","operationId":"task_1","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"deprecated":true}},"/applications/{application}/pipelineConfigs/{pipelineName}":{"get":{"tags":["application-controller"],"summary":"Retrieve a pipeline configuration","operationId":"getPipelineConfig","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"pipelineName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["application-controller"],"summary":"Invoke pipeline config","operationId":"invokePipelineConfig_1","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"pipelineName","in":"path","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"deprecated":true}},"/actions/strategies/reorder":{"post":{"tags":["reorder-pipelines-controller"],"summary":"Re-order pipeline strategies","operationId":"reorderPipelineStrategies","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReorderPipelinesCommand"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/actions/pipelines/reorder":{"post":{"tags":["reorder-pipelines-controller"],"summary":"Re-order pipelines","operationId":"reorderPipelines","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReorderPipelinesCommand"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/pipelines/{id}/stages/{stageId}":{"patch":{"tags":["pipeline-controller"],"summary":"Update a stage execution","operationId":"updateStage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"stageId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/webhooks/preconfigured":{"get":{"tags":["webhook-controller"],"summary":"Retrieve a list of preconfigured webhooks in Orca","operationId":"preconfiguredWebhooks","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/vpcs":{"get":{"tags":["amazon-infrastructure-controller"],"summary":"Get VPCs","operationId":"vpcs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"deprecated":true}},"/version":{"get":{"tags":["version-controller"],"summary":"Fetch Gate's current version","operationId":"getVersion","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Version"}}}}}}},"/v3/builds":{"get":{"tags":["build-controller"],"summary":"Get build masters","operationId":"v3GetBuildMasters","parameters":[{"name":"type","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/v3/builds/{buildMaster}/jobs":{"get":{"tags":["build-controller"],"summary":"Get jobs for build master","operationId":"v3GetJobsForBuildMaster","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/v3/builds/{buildMaster}/job":{"get":{"tags":["build-controller"],"summary":"Get job config","operationId":"v3GetJobConfig","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}},{"name":"job","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/v3/builds/{buildMaster}/builds":{"get":{"tags":["build-controller"],"summary":"Get builds for build master","operationId":"v3GetBuilds","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}},{"name":"job","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/v3/builds/{buildMaster}/build/{number}":{"get":{"tags":["build-controller"],"summary":"Get build for build master","operationId":"v3GetBuild","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}},{"name":"number","in":"path","required":true,"schema":{"type":"string"}},{"name":"job","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/v2/pipelineTemplates":{"get":{"tags":["v-2-pipeline-templates-controller"],"summary":"(ALPHA) List pipeline templates.","operationId":"list","parameters":[{"name":"scopes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/v2/pipelineTemplates/{id}":{"get":{"tags":["v-2-pipeline-templates-controller"],"summary":"(ALPHA) Get a pipeline template.","operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","required":false,"schema":{"type":"string"}},{"name":"digest","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"delete":{"tags":["v-2-pipeline-templates-controller"],"summary":"Delete a pipeline template.","operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"tag","in":"query","required":false,"schema":{"type":"string"}},{"name":"digest","in":"query","required":false,"schema":{"type":"string"}},{"name":"application","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/v2/pipelineTemplates/{id}/dependents":{"get":{"tags":["v-2-pipeline-templates-controller"],"summary":"(ALPHA) List all pipelines that implement a pipeline template","operationId":"listPipelineTemplateDependents","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PipelineTemplateDependent"}}}}}}}},"/v2/pipelineTemplates/versions":{"get":{"tags":["v-2-pipeline-templates-controller"],"summary":"List pipeline templates with versions","operationId":"listVersions","parameters":[{"name":"scopes","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}}},"/v2/builds":{"get":{"tags":["build-controller"],"summary":"Get build masters","description":"Deprecated, use the v3 endpoint instead","operationId":"getBuildMasters","parameters":[{"name":"type","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/v2/builds/{buildMaster}/jobs":{"get":{"tags":["build-controller"],"summary":"Get jobs for build master","description":"Deprecated, use the v3 endpoint instead","operationId":"getJobsForBuildMaster","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/v2/builds/{buildMaster}/jobs/**":{"get":{"tags":["build-controller"],"summary":"Get job config","description":"Deprecated, use the v3 endpoint instead","operationId":"getJobConfig","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/v2/builds/{buildMaster}/builds/**":{"get":{"tags":["build-controller"],"summary":"Get builds for build master","description":"Deprecated, use the v3 endpoint instead","operationId":"getBuilds","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/v2/builds/{buildMaster}/build/{number}/**":{"get":{"tags":["build-controller"],"summary":"Get build for build master","description":"Deprecated, use the v3 endpoint instead","operationId":"getBuild","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}},{"name":"number","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/v1/data/static/{id}":{"get":{"tags":["data-controller"],"operationId":"getStaticData","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"filters","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"expectedContentType","in":"query","required":false,"schema":{"type":"string","default":"application/json"}}],"responses":{"200":{"description":"OK"}}}},"/tasks/{id}":{"get":{"tags":["task-controller"],"summary":"Get task","operationId":"getTask","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"delete":{"tags":["task-controller"],"summary":"Delete task","operationId":"deleteTask","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/tasks/{id}/details/{taskDetailsId}":{"get":{"tags":["task-controller"],"summary":"Get task details","operationId":"getTaskDetails","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskDetailsId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/tags/**":{"get":{"tags":["entity-tags-controller"],"operationId":"get_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/subnets":{"get":{"tags":["amazon-infrastructure-controller"],"summary":"Get subnets","operationId":"subnets","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/subnets/{cloudProvider}":{"get":{"tags":["subnet-controller"],"summary":"Retrieve a list of subnets for a given cloud provider","operationId":"allByCloudProvider","parameters":[{"name":"cloudProvider","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/strategyConfigs":{"get":{"tags":["strategy-config-controller"],"operationId":"getAllStrategyConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/strategyConfigs/{strategyConfigId}/history":{"get":{"tags":["strategy-config-controller"],"operationId":"getPipelineConfigHistory","parameters":[{"name":"strategyConfigId","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/storage":{"get":{"tags":["storage-account-controller"],"summary":"Retrieve the list of storage accounts configured in Clouddriver.","operationId":"all","parameters":[{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}},"deprecated":true}},"/servicebroker/{account}/services":{"get":{"tags":["service-broker-controller"],"operationId":"listServices","parameters":[{"name":"cloudProvider","in":"query","required":false,"schema":{"type":"string"}},{"name":"region","in":"query","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/servicebroker/{account}/serviceInstance":{"get":{"tags":["service-broker-controller"],"operationId":"getServiceInstance","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"cloudProvider","in":"query","required":true,"schema":{"type":"string"}},{"name":"region","in":"query","required":true,"schema":{"type":"string"}},{"name":"serviceInstanceName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/serverGroups":{"get":{"tags":["server-group-controller"],"summary":"Retrieve a list of server groups for a list of applications or a list of servergroups by 'account:region:name'","operationId":"getServerGroups","parameters":[{"name":"applications","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"ids","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"cloudProvider","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/securityGroups":{"get":{"tags":["security-group-controller"],"summary":"Retrieve a list of security groups, grouped by account, cloud provider, and region","operationId":"all_1","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"deprecated":true}},"/securityGroups/{account}":{"get":{"tags":["security-group-controller"],"summary":"Retrieve a list of security groups for a given account, grouped by region","operationId":"allByAccount","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"deprecated":true}},"/securityGroups/{account}/{region}/{name}":{"get":{"tags":["security-group-controller"],"summary":"Retrieve a security group's details","operationId":"getSecurityGroup","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"vpcId","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"deprecated":true}},"/search":{"get":{"tags":["search-controller"],"summary":"Search infrastructure","operationId":"search","parameters":[{"name":"q","in":"query","required":false,"schema":{"type":"string","default":""}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}},{"name":"platform","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10000}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"allowShortQuery","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/roles/{cloudProvider}":{"get":{"tags":["role-controller"],"summary":"Retrieve a list of roles that can be used by the selected cloud provider","operationId":"all_2","parameters":[{"name":"cloudProvider","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/pubsub/subscriptions":{"get":{"tags":["pubsub-subscription-controller"],"summary":"Retrieve the list of pub/sub subscriptions configured in Echo.","operationId":"all_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}},"/proxies":{"get":{"tags":["proxy-controller"],"operationId":"list_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SimpleProxyConfig"}}}}}}}},"/projects":{"get":{"tags":["project-controller"],"summary":"Get all projects","operationId":"all_4","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/projects/{id}/clusters":{"get":{"tags":["project-controller"],"summary":"Get a project's clusters","operationId":"getClusters","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/projects/{id}":{"get":{"tags":["project-controller"],"summary":"Get a project","operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/projects/{id}/pipelines":{"get":{"tags":["project-controller"],"summary":"Get all pipelines for project","operationId":"allPipelinesForProject","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":5}},{"name":"statuses","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/plugins/installed":{"get":{"tags":["plugins-installed-controller"],"summary":"Get all installed Spinnaker plugins","operationId":"getInstalledPlugins","parameters":[{"name":"service","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/SpinnakerPluginDescriptor"}}}}}}}}},"/plugins/deck/{pluginId}/{pluginVersion}/{asset}":{"get":{"tags":["deck-plugins-controller"],"summary":"Retrieve a single plugin asset by version","operationId":"getPluginAsset","parameters":[{"name":"pluginId","in":"path","required":true,"schema":{"type":"string"}},{"name":"pluginVersion","in":"path","required":true,"schema":{"type":"string"}},{"name":"asset","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/plugins/deck/plugin-manifest.json":{"get":{"tags":["deck-plugins-controller"],"summary":"Retrieve a plugin manifest","operationId":"getPluginManifest","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeckPluginVersion"}}}}}}}},"/pipelines/{id}/{stageId}/evaluateExpression":{"get":{"tags":["pipeline-controller"],"summary":"Evaluate a pipeline expression at a specific stage using the provided execution as context","operationId":"evaluateExpressionForExecutionAtStage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"stageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"expression","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/pipelineTemplates/{id}/dependents":{"get":{"tags":["pipeline-templates-controller"],"summary":"List all pipelines that implement a pipeline template","operationId":"listPipelineTemplateDependents_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"recursive","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PipelineTemplateDependent"}}}}}}}},"/pipelineTemplates/resolve":{"get":{"tags":["pipeline-templates-controller"],"summary":"Resolve a pipeline template.","operationId":"resolveTemplates","parameters":[{"name":"source","in":"query","required":true,"schema":{"type":"string"}},{"name":"executionId","in":"query","required":false,"schema":{"type":"string"}},{"name":"pipelineConfigId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/pipelineConfigs":{"get":{"tags":["pipeline-config-controller"],"summary":"Get all pipeline configs.","operationId":"getAllPipelineConfigs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/pipelineConfigs/{pipelineConfigId}/history":{"get":{"tags":["pipeline-config-controller"],"summary":"Get pipeline config history.","operationId":"getPipelineConfigHistory_1","parameters":[{"name":"pipelineConfigId","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/pipelineConfigs/{pipelineConfigId}/convertToTemplate":{"get":{"tags":["pipeline-config-controller"],"summary":"Convert a pipeline config to a pipeline template.","operationId":"convertPipelineConfigToPipelineTemplate","parameters":[{"name":"pipelineConfigId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/notifications/metadata":{"get":{"tags":["notification-controller"],"operationId":"getNotificationTypeMetadata","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/nexus/names":{"get":{"tags":["nexus-controller"],"summary":"Retrieve the list of nexus names available to triggers","operationId":"names","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/networks":{"get":{"tags":["network-controller"],"summary":"Retrieve a list of networks, grouped by cloud provider","operationId":"all_5","parameters":[{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/networks/{cloudProvider}":{"get":{"tags":["network-controller"],"summary":"Retrieve a list of networks for a given cloud provider","operationId":"allByCloudProvider_1","parameters":[{"name":"cloudProvider","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/manifests/{account}/{location}/{name}":{"get":{"tags":["manifest-controller"],"operationId":"getManifest","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"location","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/loadBalancers":{"get":{"tags":["load-balancer-controller"],"summary":"Retrieve a list of load balancers for a given cloud provider","operationId":"getAll","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/loadBalancers/{name}":{"get":{"tags":["load-balancer-controller"],"summary":"Retrieve a load balancer for a given cloud provider","operationId":"getLoadBalancer","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/loadBalancers/{account}/{region}/{name}":{"get":{"tags":["load-balancer-controller"],"summary":"Retrieve a load balancer's details as a single element list for a given account, region, cloud provider and load balancer name","operationId":"getLoadBalancerDetails","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/keyPairs":{"get":{"tags":["amazon-infrastructure-controller"],"summary":"Get key pairs","operationId":"keyPairs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/jobs/preconfigured":{"get":{"tags":["job-controller"],"summary":"Retrieve a list of preconfigured jobs in Orca","operationId":"preconfiguredWebhooks_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/instances/{account}/{region}/{instanceId}/console":{"get":{"tags":["instance-controller"],"summary":"Retrieve an instance's console output","operationId":"getConsoleOutput","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string"}},{"name":"instanceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/instances/{account}/{region}/{instanceId}":{"get":{"tags":["instance-controller"],"summary":"Retrieve an instance's details","operationId":"getInstanceDetails","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string"}},{"name":"instanceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/instanceTypes":{"get":{"tags":["amazon-infrastructure-controller"],"summary":"Get instance types","operationId":"instanceTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/images/{account}/{region}/{imageId}":{"get":{"tags":["image-controller"],"summary":"Get image details","operationId":"getImageDetails","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string"}},{"name":"imageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/images/tags":{"get":{"tags":["image-controller"],"summary":"Find tags","operationId":"findTags","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"account","in":"query","required":true,"schema":{"type":"string"}},{"name":"repository","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/images/find":{"get":{"tags":["image-controller"],"summary":"Retrieve a list of images, filtered by cloud provider, region, and account","description":"The query parameter `q` filters the list of images by image name","operationId":"findImages","parameters":[{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"region","in":"query","required":false,"schema":{"type":"string"}},{"name":"account","in":"query","required":false,"schema":{"type":"string"}},{"name":"count","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/gcb/triggers/{account}":{"get":{"tags":["google-cloud-build-controller"],"summary":"Retrieve the list of Google Cloud Build triggers for a given account","operationId":"getGoogleCloudBuildTriggers","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GoogleCloudBuildTrigger"}}}}}}}},"/gcb/accounts":{"get":{"tags":["google-cloud-build-controller"],"summary":"Retrieve the list of Google Cloud Build accounts","operationId":"getAccounts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/functions":{"get":{"tags":["amazon-infrastructure-controller"],"summary":"Get functions","operationId":"functions","parameters":[{"name":"functionName","in":"query","required":false,"schema":{"type":"string"}},{"name":"region","in":"query","required":false,"schema":{"type":"string"}},{"name":"account","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/firewalls":{"get":{"tags":["firewall-controller"],"summary":"Retrieve a list of firewalls, grouped by account, cloud provider, and region","operationId":"all_6","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/firewalls/{account}":{"get":{"tags":["firewall-controller"],"summary":"Retrieve a list of firewalls for a given account, grouped by region","operationId":"allByAccount_1","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/firewalls/{account}/{region}":{"get":{"tags":["firewall-controller"],"summary":"Retrieve a list of firewalls for a given account and region","operationId":"allByAccountAndRegion","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/firewalls/{account}/{region}/{name}":{"get":{"tags":["firewall-controller"],"summary":"Retrieve a firewall's details","operationId":"getSecurityGroup_1","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string"}},{"name":"name","in":"path","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"vpcId","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/executions":{"get":{"tags":["executions-controller"],"summary":"Retrieves an ad-hoc collection of executions based on a number of user-supplied parameters. Either executionIds or pipelineConfigIds must be supplied in order to return any results. If both are supplied, an exception will be thrown.","operationId":"getLatestExecutionsByConfigIds","parameters":[{"name":"pipelineConfigIds","in":"query","description":"A comma-separated list of pipeline configuration IDs to retrieve recent executions for. Either this OR pipelineConfigIds must be supplied, but not both.","required":false,"schema":{"type":"string"}},{"name":"executionIds","in":"query","description":"A comma-separated list of executions to retrieve. Either this OR pipelineConfigIds must be supplied, but not both.","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","description":"The number of executions to return per pipeline configuration. Ignored if executionIds parameter is supplied. If this value is missing, it is defaulted to 1.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"statuses","in":"query","description":"A comma-separated list of execution statuses to filter by. Ignored if executionIds parameter is supplied. If this value is missing, it is defaulted to all statuses.","required":false,"schema":{"type":"string"}},{"name":"expand","in":"query","description":"Expands each execution object in the resulting list. If this value is missing, it is defaulted to true.","required":false,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/ecs/serviceDiscoveryRegistries":{"get":{"tags":["ecs-service-discovery-controller"],"summary":"Retrieve a list of Cloud Map services that can be used for the account and region.","operationId":"all_7","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/ecs/secrets":{"get":{"tags":["ecs-secret-controller"],"summary":"Retrieve a list of Secrets Manager secrets that can be used for the account and region.","operationId":"all_8","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/ecs/ecsClusters":{"get":{"tags":["ecs-cluster-controller"],"summary":"Retrieve a list of ECS clusters that can be used for the account and region.","operationId":"all_9","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/ecs/ecsClusterDescriptions/{account}/{region}":{"get":{"tags":["ecs-cluster-controller"],"summary":"Retrieve a list of Ecs Cluster Description WRT account and region","operationId":"getEcsClusterDescriptions","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/ecs/cloudMetrics/alarms":{"get":{"tags":["ecs-cloud-metric-controller"],"summary":"Retrieve a list of MetricAlarms.","operationId":"allMetricAlarms","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/cron/validate":{"get":{"tags":["cron-controller"],"operationId":"validateCronExpression","parameters":[{"name":"expression","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/credentials/{account}":{"get":{"tags":["credentials-controller"],"summary":"Retrieve an account's details","operationId":"getAccount","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountDetails"}}}}}}},"/credentials/type/{accountType}":{"get":{"tags":["credentials-controller"],"summary":"Looks up account definitions by type.","operationId":"getAccountsByType","parameters":[{"name":"accountType","in":"path","description":"Value of the \"@type\" key for accounts to search for.","required":true,"schema":{"type":"string"},"example":"kubernetes"},{"name":"limit","in":"query","description":"Maximum number of entries to return in results. Used for pagination.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"startingAccountName","in":"query","description":"Account name to start account definition listing from. Used for pagination.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AccountDefinition"}}}}}}}},"/concourse/{buildMaster}/teams":{"get":{"tags":["concourse-controller"],"summary":"Retrieve the list of team names available to triggers","operationId":"teams","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/concourse/{buildMaster}/teams/{team}/pipelines":{"get":{"tags":["concourse-controller"],"summary":"Retrieve the list of pipeline names for a given team available to triggers","operationId":"pipelines","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}},{"name":"team","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/concourse/{buildMaster}/teams/{team}/pipelines/{pipeline}/resources":{"get":{"tags":["concourse-controller"],"summary":"Retrieve the list of resource names for a given pipeline available to the Concourse stage","operationId":"resources","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}},{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"pipeline","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/concourse/{buildMaster}/teams/{team}/pipelines/{pipeline}/jobs":{"get":{"tags":["concourse-controller"],"summary":"Retrieve the list of job names for a given pipeline available to triggers","operationId":"jobs","parameters":[{"name":"buildMaster","in":"path","required":true,"schema":{"type":"string"}},{"name":"team","in":"path","required":true,"schema":{"type":"string"}},{"name":"pipeline","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/codebuild/projects/{account}":{"get":{"tags":["aws-code-build-controller"],"summary":"Retrieve the list of AWS CodeBuild projects in the account","operationId":"getProjects","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/codebuild/accounts":{"get":{"tags":["aws-code-build-controller"],"summary":"Retrieve the list of AWS CodeBuild accounts","operationId":"getAccounts_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/cloudMetrics/{cloudProvider}/{account}/{region}":{"get":{"tags":["cloud-metric-controller"],"operationId":"findAll","parameters":[{"name":"cloudProvider","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string"}},{"name":"filters","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/cloudMetrics/{cloudProvider}/{account}/{region}/{metricName}/statistics":{"get":{"tags":["cloud-metric-controller"],"operationId":"getStatistics","parameters":[{"name":"cloudProvider","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"path","required":true,"schema":{"type":"string"}},{"name":"metricName","in":"path","required":true,"schema":{"type":"string"}},{"name":"startTime","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"endTime","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"filters","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/cleanup/resources/{namespace}/{resourceId}":{"get":{"tags":["cleanup-controller"],"summary":"Get information about a marked resource.","operationId":"getMarkedResource","parameters":[{"name":"namespace","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/cleanup/resources/{namespace}/{resourceId}/optOut":{"get":{"tags":["cleanup-controller"],"summary":"Opt out of clean up for a marked resource.","operationId":"optOut","parameters":[{"name":"namespace","in":"path","required":true,"schema":{"type":"string"}},{"name":"resourceId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/cleanup/resources/marked":{"get":{"tags":["cleanup-controller"],"summary":"Get all marked resources.","operationId":"getAllMarkedResources","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/cleanup/resources/deleted":{"get":{"tags":["cleanup-controller"],"summary":"Get all deleted resources.","operationId":"getAllDeletedResources","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/ci/builds":{"get":{"tags":["ci-controller"],"operationId":"getBuilds_1","parameters":[{"name":"projectKey","in":"query","required":false,"schema":{"type":"string"}},{"name":"repoSlug","in":"query","required":false,"schema":{"type":"string"}},{"name":"completionStatus","in":"query","required":false,"schema":{"type":"string"}},{"name":"buildNumber","in":"query","required":false,"schema":{"type":"string"}},{"name":"commitId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/ci/builds/{buildId}/output":{"get":{"tags":["ci-controller"],"operationId":"getBuildOutputById","parameters":[{"name":"buildId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/certificates":{"get":{"tags":["certificate-controller"],"summary":"Retrieve a list of all server certificates","operationId":"all_10","parameters":[{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/certificates/{cloudProvider}":{"get":{"tags":["certificate-controller"],"summary":"Retrieve a list of server certificates for a given cloud provider","operationId":"allByCloudProvider_2","parameters":[{"name":"cloudProvider","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/capabilities/quietPeriod":{"get":{"tags":["capabilities-controller"],"summary":"Retrieve the current state of the quiet period","operationId":"getQuietPeriodState","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/capabilities/expressions":{"get":{"tags":["capabilities-controller"],"summary":"Retrieve the SpEL expression capabilities (e.g. registered functions, etc)","operationId":"getExpressionCapabilities","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/capabilities/deploymentMonitors":{"get":{"tags":["capabilities-controller"],"summary":"Retrieve the list configured deployment monitors","operationId":"getDeploymentMonitors","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/bakery/options":{"get":{"tags":["bake-controller"],"summary":"Retrieve a list of available bakery base images, grouped by cloud provider","operationId":"bakeOptions","responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/bakery/options/{cloudProvider}":{"get":{"tags":["bake-controller"],"summary":"Retrieve a list of available bakery base images for a given cloud provider","operationId":"bakeOptions_1","parameters":[{"name":"cloudProvider","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/bakery/logs/{region}/{statusId}":{"get":{"tags":["bake-controller"],"summary":"Retrieve the logs for a given bake","operationId":"lookupLogs","parameters":[{"name":"region","in":"path","required":true,"schema":{"type":"string"}},{"name":"statusId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/auth/user":{"get":{"tags":["auth-controller"],"summary":"Get user","operationId":"user","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}}}},"/auth/redirect":{"get":{"tags":["auth-controller"],"summary":"Redirect to Deck","operationId":"redirect","parameters":[{"name":"to","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/auth/loggedOut":{"get":{"tags":["auth-controller"],"summary":"Get logged out message","operationId":"loggedOut","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/artifacts/{provider}/{packageName}":{"get":{"tags":["artifact-controller"],"summary":"Retrieve the available artifact versions for an artifact provider and package name","description":"releaseStatus is an optional comma separated list of statuses to filter on.","operationId":"getVersionsOfArtifactForProvider","parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}},{"name":"packageName","in":"path","required":true,"schema":{"type":"string"}},{"name":"releaseStatus","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/artifacts/{provider}/{packageName}/{version}":{"get":{"tags":["artifact-controller"],"summary":"Retrieve the specified artifact version for an artifact provider and package name","operationId":"getArtifact","parameters":[{"name":"provider","in":"path","required":true,"schema":{"type":"string"}},{"name":"packageName","in":"path","required":true,"schema":{"type":"string"}},{"name":"version","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/artifacts/credentials":{"get":{"tags":["artifact-controller"],"summary":"Retrieve the list of artifact accounts configured in Clouddriver.","operationId":"all_11","parameters":[{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/artifacts/content-address/{application}/{hash}":{"get":{"tags":["artifact-controller"],"summary":"Retrieve artifact by content hash","operationId":"getStoredArtifact","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"hash","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoredView"}}}}}}},"/artifacts/account/{accountName}/versions":{"get":{"tags":["artifact-controller"],"summary":"Retrieve the list of artifact versions by account and artifact names","operationId":"artifactVersions","parameters":[{"name":"accountName","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}},{"name":"artifactName","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/artifacts/account/{accountName}/names":{"get":{"tags":["artifact-controller"],"summary":"Retrieve the list of artifact names that belong to chosen account","operationId":"artifactNames","parameters":[{"name":"accountName","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/artifactory/names":{"get":{"tags":["artifactory-controller"],"summary":"Retrieve the list of artifactory names available to triggers","operationId":"names_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/applications":{"get":{"tags":["application-controller"],"summary":"Retrieve a list of applications","operationId":"getAllApplications","parameters":[{"name":"account","in":"query","description":"filters results to only include applications deployed in the specified account","required":false,"schema":{"type":"string"}},{"name":"owner","in":"query","description":"filters results to only include applications owned by the specified email","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/tasks/{id}":{"get":{"tags":["application-controller"],"summary":"Get task","operationId":"getTask_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"deprecated":true}},"/applications/{application}/tasks/{id}/details/{taskDetailsId}":{"get":{"tags":["application-controller"],"summary":"Get task details","operationId":"getTaskDetails_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"taskDetailsId","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}},"deprecated":true}},"/applications/{application}/strategyConfigs":{"get":{"tags":["application-controller"],"summary":"Retrieve a list of an application's pipeline strategy configurations","operationId":"getStrategyConfigsForApplication","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/applications/{application}/strategyConfigs/{strategyName}":{"get":{"tags":["application-controller"],"summary":"Retrieve a pipeline strategy configuration","operationId":"getStrategyConfig","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"strategyName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/applications/{application}/snapshots/{account}":{"get":{"tags":["snapshot-controller"],"summary":"Get current snapshot","operationId":"getCurrentSnapshot","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/applications/{application}/snapshots/{account}/history":{"get":{"tags":["snapshot-controller"],"summary":"Get snapshot history","operationId":"getSnapshotHistory","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/serverGroups/{account}/{serverGroupName}/events":{"get":{"tags":["ecs-server-group-events-controller"],"summary":"Retrieves a list of events for a server group","operationId":"getEvents","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"serverGroupName","in":"path","required":true,"schema":{"type":"string"}},{"name":"region","in":"query","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/applications/{application}/serverGroupManagers":{"get":{"tags":["server-group-manager-controller"],"summary":"Retrieve a list of server group managers for an application","operationId":"getServerGroupManagersForApplication","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/rawResources":{"get":{"tags":["raw-resource-controller"],"summary":"Retrieve a list of raw resources for a given application","operationId":"getApplicationRawResources","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/pipelines":{"get":{"tags":["application-controller"],"summary":"Retrieve a list of an application's pipeline executions","operationId":"getPipelines","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"statuses","in":"query","required":false,"schema":{"type":"string"}},{"name":"expand","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/applications/{application}/pipelineConfigs":{"get":{"tags":["application-controller"],"summary":"Retrieve a list of an application's pipeline configurations","operationId":"getPipelineConfigsForApplication","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"pipelineNameFilter","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/applications/{application}/loadBalancers":{"get":{"tags":["load-balancer-controller"],"summary":"Retrieve a list of load balancers for a given application","operationId":"getApplicationLoadBalancers","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/history":{"get":{"tags":["application-controller"],"summary":"Retrieve a list of an application's configuration revision history","operationId":"getApplicationHistory","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/functions":{"get":{"tags":["amazon-infrastructure-controller"],"summary":"Get application functions","operationId":"applicationFunctions","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/executions/search":{"get":{"tags":["executions-controller"],"summary":"Search for pipeline executions using a combination of criteria. The returned list is sorted by buildTime (trigger time) in reverse order so that newer executions are first in the list.","operationId":"searchForPipelineExecutionsByTrigger","parameters":[{"name":"application","in":"path","description":"Only includes executions that are part of this application. If this value is \"*\", results will include executions of all applications.","required":true,"schema":{"type":"string"}},{"name":"triggerTypes","in":"query","description":"Only includes executions that were triggered by a trigger with a type that is equal to a type provided in this field. The list of trigger types should be a comma-delimited string. If this value is missing, results will includes executions of all trigger types.","required":false,"schema":{"type":"string"}},{"name":"pipelineName","in":"query","description":"Only includes executions that with this pipeline name.","required":false,"schema":{"type":"string"}},{"name":"eventId","in":"query","description":"Only includes executions that were triggered by a trigger with this eventId.","required":false,"schema":{"type":"string"}},{"name":"trigger","in":"query","description":"Only includes executions that were triggered by a trigger that matches the subset of fields provided by this value. This value should be a base64-encoded string of a JSON representation of a trigger object. The comparison succeeds if the execution trigger contains all the fields of the input trigger, the fields are of the same type, and each value of the field \"matches\". The term \"matches\" is specific for each field's type:\n- For Strings: A String value in the execution's trigger matches the input trigger's String value if the former equals the latter (case-insensitive) OR if the former matches the latter as a regular expression.\n- For Maps: A Map value in the execution's trigger matches the input trigger's Map value if the former contains all keys of the latter and their values match.\n- For Collections: A Collection value in the execution's trigger matches the input trigger's Collection value if the former has a unique element that matches each element of the latter.\n- Every other value is compared using the Java \"equals\" method (Groovy \"==\" operator)","required":false,"schema":{"type":"string"}},{"name":"triggerTimeStartBoundary","in":"query","description":"Only includes executions that were built at or after the given time, represented as a Unix timestamp in ms (UTC). This value must be >= 0 and <= the value of [triggerTimeEndBoundary], if provided. If this value is missing, it is defaulted to 0.","required":false,"schema":{"type":"integer","format":"int64","default":0}},{"name":"triggerTimeEndBoundary","in":"query","description":"Only includes executions that were built at or before the given time, represented as a Unix timestamp in ms (UTC). This value must be <= 9223372036854775807 (Long.MAX_VALUE) and >= the value of [triggerTimeStartBoundary], if provided. If this value is missing, it is defaulted to 9223372036854775807.","required":false,"schema":{"type":"integer","format":"int64","default":9223372036854775807}},{"name":"statuses","in":"query","description":"Only includes executions with a status that is equal to a status provided in this field. The list of statuses should be given as a comma-delimited string. If this value is missing, includes executions of all statuses. Allowed statuses are: NOT_STARTED, RUNNING, PAUSED, SUSPENDED, SUCCEEDED, FAILED_CONTINUE, TERMINAL, CANCELED, REDIRECT, STOPPED, SKIPPED, BUFFERED.","required":false,"schema":{"type":"string"}},{"name":"startIndex","in":"query","description":"Sets the first item of the resulting list for pagination. The list is 0-indexed. This value must be >= 0. If this value is missing, it is defaulted to 0.","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Sets the size of the resulting list for pagination. This value must be > 0. If this value is missing, it is defaulted to 10.","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"reverse","in":"query","description":"Reverses the resulting list before it is paginated. If this value is missing, it is defaulted to false.","required":false,"schema":{"type":"boolean","default":false}},{"name":"expand","in":"query","description":"Expands each execution object in the resulting list. If this value is missing, it is defaulted to false.","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/applications/{application}/clusters":{"get":{"tags":["cluster-controller"],"summary":"Retrieve a list of cluster names for an application, grouped by account","operationId":"getClusters_1","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/applications/{application}/clusters/{account}":{"get":{"tags":["cluster-controller"],"summary":"Retrieve a list of clusters for an account","operationId":"getClusters_2","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/clusters/{account}/{clusterName}/{type}/loadBalancers":{"get":{"tags":["cluster-controller"],"summary":"Retrieve a cluster's loadbalancers","operationId":"getClusterLoadBalancers","parameters":[{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/applications/{application}/clusters/{account}/{clusterName}/serverGroups":{"get":{"tags":["cluster-controller"],"summary":"Retrieve a list of server groups for a cluster","operationId":"getServerGroups_1","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/clusters/{account}/{clusterName}/serverGroups/{serverGroupName}/scalingActivities":{"get":{"tags":["cluster-controller"],"summary":"Retrieve a list of scaling activities for a server group","operationId":"getScalingActivities","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","required":true,"schema":{"type":"string"}},{"name":"serverGroupName","in":"path","required":true,"schema":{"type":"string"}},{"name":"provider","in":"query","required":false,"schema":{"type":"string","default":"aws"}},{"name":"region","in":"query","required":false,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/clusters/{account}/{clusterName}/serverGroups/{serverGroupName}":{"get":{"tags":["cluster-controller"],"summary":"Retrieve a server group's details","operationId":"getServerGroups_2","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","required":true,"schema":{"type":"string"}},{"name":"serverGroupName","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/applications/{application}/clusters/{account}/{clusterName}":{"get":{"tags":["cluster-controller"],"summary":"Retrieve a cluster's details","operationId":"getClusters_3","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/applications/{application}/clusters/{account}/{clusterName}/{cloudProvider}/{scope}/serverGroups/target/{target}":{"get":{"tags":["cluster-controller"],"summary":"Retrieve a server group that matches a target coordinate (e.g., newest, ancestor) relative to a cluster","description":"`scope` is either a zone or a region","operationId":"getTargetServerGroup","parameters":[{"name":"application","in":"path","required":true,"schema":{"type":"string"}},{"name":"account","in":"path","required":true,"schema":{"type":"string"}},{"name":"clusterName","in":"path","required":true,"schema":{"type":"string"}},{"name":"cloudProvider","in":"path","required":true,"schema":{"type":"string"}},{"name":"scope","in":"path","required":true,"schema":{"type":"string"}},{"name":"target","in":"path","required":true,"schema":{"type":"string"}},{"name":"onlyEnabled","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"validateOldest","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"X-RateLimit-App","in":"header","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/applications/{applicationName}/serverGroups":{"get":{"tags":["server-group-controller"],"summary":"Retrieve a list of server groups for a given application","operationId":"getServerGroupsForApplication","parameters":[{"name":"applicationName","in":"path","required":true,"schema":{"type":"string"}},{"name":"expand","in":"query","required":false,"schema":{"type":"string","default":"false"}},{"name":"cloudProvider","in":"query","required":false,"schema"
[...]
